<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="ReactSitecore.Common.ConfigureAttributeRouting, ReactSitecore"
                   patch:after="processor[@type='Sitecore.Services.Infrastructure.Sitecore.Pipelines.ServicesWebApiInitializer, Sitecore.Services.Infrastructure.Sitecore']" />
      </initialize>
      <preprocessRequest>
        <processor patch:before="*[@type='Sitecore.Pipelines.PreprocessRequest.SuppressFormValidation, Sitecore.Kernel']" type="ReactSitecore.Common.RestSessionEnabler, ReactSitecore" />
      </preprocessRequest>
    </pipelines>
  </sitecore>
</configuration>